# Build output
dist
build
logs

# Databases
backend/src/auth/db/auth.db
backend/src/booking/db/auth.db

# Dependency directories
node_modules/

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Turborepo files
.turbo/

# MAC OS files
**/.DS_Store

# DB files
backend/src/auth/db/auth.db
backend/src/booking/db/booking.db
backend/src/booking/vs/versions.db
backend/src/info/db/info.db
backend/src/monitoring/monitoring.db
