# Build output
dist
build
logs

# Databases
backend/src/auth/db/database.db
backend/src/booking/db/database.db

# Dependency directories
node_modules/

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# MAC OS files
**/.DS_Store
