# Build output
dist
build
logs

# Dependency directories
node_modules/

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Turborepo files
.turbo/

# MAC OS files
**/.DS_Store

# DB files
**/*.db
