p {
  margin: 0;
}

#root {
  display: flex;
  column-gap: 16px;
}

.left-panel {
  flex: 1;
}

.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.tab-content {
  flex: 8;
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-button.active {
  font-weight: bold;
}

.form {
  margin-bottom: 16px;
}

.form-filter {
  display: flex;
  margin-bottom: 8px;
}

.filter-label {
  margin-right: 8px;
}

.filter-input {
  width: 100%;
  margin-right: 8px;
}

.log-item {
  display: flex;
  margin-bottom: 8px;

  p {
    font-size: 14px;
  }
}

.log-item_timeshtamp {
  width: 180px;
  margin-right: 16px;
}

.log-item_log-content {
  word-break: break-all;
}
